div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body {
    background-image: url("cat.jpeg");
    /* background-size: auto;
    background-size: contain; */
    background-size: cover;

}

#box1 {
    position: static;
    background-color: brown;
   
}
#box2 {
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 10px;
    z-index: 1;
}
#box3 {
    background-color: blueviolet;
    position: absolute; 
    /* position: sticky; */
    top: 500px;
    left: 20px;
}
#box4 {
    background-color: blue;
    position: fixed;
    /* right: 0px; 
    bottom: 0;
    width: 100vw; */
    top: 50px;
    z-index: -3;
}