p{
    text-align: right;
    text-align: center;
    text-align: left;
}
h1 {
    text-align: right;
    text-align: center;
    text-align: left;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}

a {
    text-decoration: none;

}