/* p{
    text-align: right;
    text-align: center;
    text-align: left;
}
h1 {
    text-align: right;
    text-align: center;
    text-align: left;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
}

a{
    text-decoration: none;
} */

p{
    text-align:end ;
}
a{
    text-decoration: none;
}
#h1{
    font-weight: 150;
}
#h2{
    font-weight: 250;
}
#h3{
    font-weight: 400;
}
#h4{
    font-weight:900 ;
}
