div {
    height: 100px;
    width: 100px;
    background-image: url("cat.jpeg");
    background-size: cover;
    color: white;
    /* position: absolute; */
    position: fixed;
    right: 0px;
    top: 25px;
}
